/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    min-height: 100vh;
    padding: 40px;
    color: #333;
}

/* Container central */
.container {
    text-align: center;
    max-width: 1000px;
    margin: auto;
}

/* Títulos */
h1 {
    text-align: center;
    margin-bottom: 30px;
    color: white;
    font-size: 32px;
}

h2 {
    margin-top: 50px;
    margin-bottom: 15px;
    color: #2a5298;
}

/* Cards */
.card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

/* Valores */
.card p {
    font-size: 28px;
    font-weight: bold;
    color: #1e3c72;
}

/* Lista */
ul {
    list-style: none;
    margin-top: 10px;
}

li {
    background: #f4f6fa;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Inputs */
input {
    width: 50%;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

/* Botões */
button {
    padding: 8px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: #2a5298;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background: #1e3c72;
}

/* Link */
a {
    display: inline-block;
    margin-top: 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Botão perigoso (limpar faturamento) */
button.danger {
    background: #c0392b;
}

button.danger:hover {
    background: #922b21;
}

#tlista{
    color: white;
}

#agenda{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(82, 80, 80);
}

/* Tabela */
#tabela_ {
    width: 70%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

/* Cabeçalho */
#tabela_ thead {
    background-color: #2a5298;
    color: white;
}

#tabela_ th {
    padding: 12px;
    text-align: center;
}

/* Células */
#tabela_ td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

/* Linhas alternadas */
#tabela_ tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Efeito ao passar o mouse */
#tabela_ tbody tr:hover {
    background-color: #dfe9ff;
    transition: 0.2s;
}